
* {
  	margin: 0;
  	padding: 0;
}
body {
  	font-family: 'Poppins', sans-serif;
  	font-size: 1.8rem; /* 18px */
  	font-weight: 400;
  	line-height: 1.4;
  	color: #fff;
  	display: flex;
  	flex-direction: column;
  	/*width: 100%;*/
  }

/*-------- START NAV ----------------*/
.nav {
	background-color: #23282d;
	width: 100%;
	height: 70px;
	display: flex;
	position: fixed;
	justify-content: flex-end;
}
#navbar > ul {
	display: flex;
	align-items: center;
}

li {
  	list-style: none;
}

a {
   text-decoration: none;
   margin-right: 80px;
   color: #fff;
}

a:hover {
  	color: #04c1f3;  
} 

/*-------------------- END NAV -----------*/

/*-------- START WELCOME SECTION ---------*/
#welcome-section {
	background-color: #091b29;
	width: 100%;
	height: 920px;
}

.welcome-section > h1 {
	color: #04c1f3;
 	font-family: 'Raleway', sans-serif;
  	font-weight: 200;
  	font-size: 80px;
  	text-align: center;
  	margin-top: 330px;
}

.welcome-section > p {
	color: #fff;
	text-align: center;
	font-style: italic;
}
/*--------- END WELCOME SECTION ---------*/




/*-------- START PROJECTS SECTION --------*/
#projects {
	background-color: grey;
	height: 1300px;
}
h2 {
	margin: 40px auto;
	width: 680px;
	border-bottom: 1px solid #fff;
}
.projects-grid {
	display: flex;

}
.projects-section > h2 {
	text-align: center;
}
img {
	display: block;
	width: 100%;
}
.projects-grid {
	width: 1000px;
	height: 550px;
	display: flex;
	justify-content: space-around;
	margin: 15px auto;
}
.project {
	background-color: #091b29;
	width: 450px;
	height: 520px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	border-radius: 2px;
}
p {
	font-size: 25px;
	text-align: center;
	margin-top: 14px;
}


/*------- END PROJECTS SECTION --*/



/*-- START CONTACT SECTION ------*/
#contact {
	background-color: #091b29;
	border-bottom: 2px solid #04c1f3;
}
h3 {
	text-align: center;
	margin: 100px auto;
	font-size: 70px;
	color: #04c1f3;
}
.contact-links {
	text-align: center;
	margin-bottom: 50px;
}
.contact-links > a {
	text-shadow: 1px 1px 2px black;
}
div.contact-links a:last-child {
	margin-right: 0;
}
/*----- END CONTACT SECTION -----*/



/*----- START FOOTER SECTION -----*/
footer {
	background-color: #091b29;
	
}
footer p {
	margin: 30px auto;
	}
	/*------ END FOOTER SECTION ------*/
@media (max-width: 1000px){

body {
	min-width: 120%; 
}
		
}
@media (max-width: 835px) {
	body {
		width: 150%; 
}
	}

@media (max-width: 673px) {
	body {
		width: 200%; 
	}
	
}
@media (max-width: 500px) {
	body {
		width: 300%; 
	}
}
